<div class="article-detail">
  <h1><%= @article["title"] %></h1>
  
  <% if @article["multimedia"].present? %>
    <% preferred_image = @article["multimedia"].find { |img| img["format"] == "Super Jumbo" } || @article["multimedia"].first %>
    <%= image_tag(preferred_image["url"], class: "img-fluid") %>
  <% end %>

  <div class="article-content">
    <p class="lead"><%= @article["abstract"] %></p>
    <p><%= @article["byline"] %></p>
    <p>Published: <%= @article["published_date"] %></p>
    <%= link_to "Read on NYT", @article["url"], class: "btn btn-primary", target: "_blank" %>
  </div>
</div>
