<div class="container mt-5">
  <div class="text-center">
    <p class="text-success"><%= notice %></p>
    <h1 class="mb-4">Users</h1>
  </div>

  <div class="row">
    <% @users.each do |user| %>
      <div class="col-md-4 mb-4">
        <div class="card shadow-sm">
          <div class="card-body">
            <h5 class="card-title"><%= user.name %></h5>
            <p class="card-text">
              Email: <%= user.mail %><br>
              Status: <%= Status.find_by(user_id: user.id)&.status || "Unknown" %>
            </p>
            <%= link_to "Show this user", user, class: "btn btn-primary btn-sm" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="text-center mt-4">
    <%= link_to "New User", new_user_path, class: "btn btn-success" %>
    <%= link_to "Logout", logout_path, class: "btn btn-danger" %>
  </div>
</div>