<div style="display: flex; flex-wrap: wrap; gap: 20px; justify-content: center;">
  
  <% @posts.each do |post| %>
    <div class="card" style="width: 18rem;">
      <% if post.instance_variable_get(:@file_metadata) %>
        <img src="<%= post.instance_variable_get(:@file_metadata).thumbnail_link %>" alt="<%= post.instance_variable_get(:@file_metadata).name %>">
      <% end %>
      <div class="card-body">
        <h5 class="card-title"><%= post.title %></h5>
        <p class="card-text"><%= post.content %></p>
        <%= link_to 'View this post', post_path(post.id), class: 'btn btn-primary' %>
      </div>
    </div>
  <% end %>
  <%= render "form", post: @post %>
</div>