<!DOCTYPE html>
<html>
  <head>
    <title>MyPortfolio</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <% if controller_name == "home" %>
      <%= stylesheet_link_tag "home", media: "all" %>
    # <% elsif controller_name == "resume" %>
    #   <%= stylesheet_link_tag "resume", media: "all" %>
    <% else %>
      <%= stylesheet_link_tag "application", media: "all" %>
    <% end %>
  </head>

  <body>
    <header class="header">
      <strong id="logo">Yihe<strong style="color: rgb(255, 0, 0);">.</strong>C</strong>
      <span class="catalog">
          <%= link_to 'Home',root_path,id:'header_option'%>
          <%= link_to 'News',blogs_path,id:'header_option'%>
          <%#= <%= link_to 'Resume',resume_path,id:'header_option'%>
          <%= link_to 'Community', posts_path, id:'header_option'%>
          <%= link_to 'Panel', users_path, id:'header_option'%>
      </span>
      <% if is_loggedin? %>
        <div>
          <p>Welcome! <%= current_user[:name] %></p>
          <a href="<%= logout_path %>" id="logout">
            <button class="contact">logout</button>
          </a>
        </div>
      <% else %>
        <a href="<%= login_path %>" id="login">
            <button class="contact">login</button>
          </a>
      <% end %>
    </header>
 <%= yield %>
  </body>
</html>
